workflows/n8n/monitor_gmail_diane.json
{
  "name": "Monitor Gmail — Diane",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Gmail Trigger: Watch Diane",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "q": "from:diane@rogergimbel.com OR from:\"Diane DeVito\""
        },
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "UTIL: Extract Email Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [500, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-date-logged",
              "name": "Date Logged",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "field-date-received",
              "name": "Date Received",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "field-from-name",
              "name": "From Name",
              "value": "={{ $json.from.value[0].name || $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "field-from-email",
              "name": "From Email",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "field-subject",
              "name": "Subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "field-body-preview",
              "name": "Body Preview",
              "value": "={{ ($json.text || '').substring(0, 500) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Google Sheets: Append Email Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [750, 300],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Diane Emails",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger: Watch Diane": {
      "main": [
        [
          {
            "node": "UTIL: Extract Email Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UTIL: Extract Email Fields": {
      "main": [
        [
          {
            "node": "Google Sheets: Append Email Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
